<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="drogoganor" value="https://pkgs.dev.azure.com/dwilson0/drogoganor/_packaging/drogoganor/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <drogoganor>
      <add key="Username" value="drogoganor" />
      <add key="ClearTextPassword" value="$(PAT)" />
    </drogoganor>
  </packageSourceCredentials>
</configuration>